/* The whole component */

.famous_slider {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

/* Anime tile image */

.famous_anime_image {
  width: 420px;
  height: 500px;
  border-radius: 10px;
  max-width: 100%;
}

/* Right arrow icon */

.right_arrow {
  position: relative;

  left: 530px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  font-size: 3rem;
  color: black;
}

/* Left arrow icon */

.left_arrow {
  position: relative;
  top: 0%;
  left: -15px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  font-size: 3rem;
  color: black;
}

/* Non-current anime tiles */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

/* Current anime tile */

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* Rating text */

.famous_anime_score {
  font-size: 14px;
}

/* Title text */

.famous_anime_title {
  font-weight: bold;
  font-size: 24px;
  opacity: 1;
}

/* Divider UI */

.famous_divider {
  padding: 0em;
  margin: 0em;
  border-top: 1px solid black;
}

/* Text card for each anime consist of: title, rating, background */

.famous_text_tile {
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: grey;
  width: 460px;
  height: 40%;
  background: rgba(255, 255, 255, 0.5);
}

/* Structure of the carousel */

.famous_background {
  display: grid;
}

/* Background Image */

.famous_anime_background_img {
  filter: blur(3px);
  position: absolute;
  top: 1;
  left: 1;
  right: 1;
  bottom: 1;
  width: 500px;
  height: 80vh;
  margin: auto;
  z-index: -1;
}

/* Component on 1440px resolution */

@media only screen and (max-width: 1440px) {
  /* The whole component */
  .famous_slider {
    left: -30px;
  }
}

/* Component on 1024px resolution */

@media screen and (max-width: 1024px) {
  /* Anime tile image */
  .famous_anime_image {
    width: 380px;
    height: 460px;
    border-radius: 10px;
  }

  /* Right arrow icon */

  .right_arrow {
    position: relative;

    left: 482px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.8rem;
    color: black;
  }

  /* Left arrow icon */

  .left_arrow {
    position: relative;
    top: 0%;
    left: -12px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.8rem;
    color: black;
  }

  /* Title text */

  .famous_anime_title {
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
  }

  /* Text card for each anime consist of: title, rating, background */

  .famous_text_tile {
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: grey;
    width: 420px;
    height: 40%;
    background: rgba(255, 255, 255, 0.5);
  }

  /* Background Image */

  .famous_anime_background_img {
    filter: blur(3px);
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    width: 460px;
    height: 75vh;
    margin: auto;
    z-index: -1;
  }
}

/* Component on 768px resolution */

@media screen and (max-width: 768px) {
  /* Anime tile image */
  .famous_anime_image {
    width: 350px;
    height: 430px;
    border-radius: 10px;
  }

  /* Right arrow icon */
  .right_arrow {
    position: relative;

    left: 447px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.5rem;
    color: black;
  }

  /* Left arrow icon */

  .left_arrow {
    position: relative;
    top: 0%;
    left: -17px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.5rem;
    color: black;
  }

  /* Title text */

  .famous_anime_title {
    font-weight: bold;
    font-size: 17px;
    opacity: 1;
  }

  /* Text card for each anime consist of: title, rating, background */

  .famous_text_tile {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: grey;
    width: 400px;
    height: 35%;
    background: rgba(255, 255, 255, 0.5);
  }

  /* Background Image */

  .famous_anime_background_img {
    filter: blur(3px);
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    width: 430px;
    height: 70vh;
    margin: auto;
    z-index: -1;
  }
}

/* Component on 425px resolution */

@media screen and (max-width: 425px) {
  /* The whole component */
  .famous_slider {
    left: -5px;
  }

  /* Anime tile image */

  .famous_anime_image {
    width: 300px;
    height: 400px;
    border-radius: 10px;
  }

  /* Right arrow icon */

  .right_arrow {
    position: relative;

    left: 390px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Left arrow icon */

  .left_arrow {
    position: relative;
    top: 0%;
    left: -19px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Title text */

  .famous_anime_title {
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
  }

  /* Rating text */

  .famous_anime_score {
    font-size: 12px;
  }

  /* Text card for each anime consist of: title, rating, background */

  .famous_text_tile {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: grey;
    width: 320px;
    height: 32%;
    background: rgba(255, 255, 255, 0.5);
  }

  /* Background Image */

  .famous_anime_background_img {
    filter: blur(3px);
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    width: 380px;
    height: 60vh;
    margin: auto;
    z-index: -1;
  }
}

/* Component on 375px resolution */

@media screen and (max-width: 375px) {
  /* The whole component */
  .famous_slider {
    left: 10px;
  }

  /* Anime tile image */

  .famous_anime_image {
    width: 280px;
    height: 370px;
    border-radius: 10px;
  }

  /* Right arrow icon */

  .right_arrow {
    position: relative;

    left: 365px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Left arrow icon */

  .left_arrow {
    position: relative;
    top: 0%;
    left: -14px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Title text */

  .famous_anime_title {
    font-weight: bold;
    font-size: 12px;
    opacity: 1;
  }

  /* Rating text */

  .famous_anime_score {
    font-size: 11px;
  }

  /* Text card for each anime consist of: title, rating, background */

  .famous_text_tile {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: grey;
    width: 320px;
    height: 30%;
    background: rgba(255, 255, 255, 0.5);
  }

  /* Background Image */

  .famous_anime_background_img {
    filter: blur(3px);
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    width: 350px;
    height: 50vh;
    margin: auto;
    z-index: -1;
  }
}

/* Component on 320px resolution */

@media screen and (max-width: 320px) {
  /* The whole component */
  .famous_slider {
    left: 20px;
  }

  /* Anime tile image */

  .famous_anime_image {
    width: 250px;
    height: 350px;
    border-radius: 10px;
  }

  /* Right arrow icon */

  .right_arrow {
    position: relative;

    left: 330px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Left arrow icon */

  .left_arrow {
    position: relative;
    top: 0%;
    left: -12px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    font-size: 2.2rem;
    color: black;
  }

  /* Title text */

  .famous_anime_title {
    font-weight: bold;
    font-size: 12px;
    opacity: 1;
  }

  /* Rating text */

  .famous_anime_score {
    font-size: 11px;
  }

  /* Text card for each anime consist of: title, rating, background */

  .famous_text_tile {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: grey;
    width: 280px;
    height: 30%;
    background: rgba(255, 255, 255, 0.5);
  }

  /* Background Image */

  .famous_anime_background_img {
    filter: blur(3px);
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    width: 320px;
    height: 45vh;
    margin: auto;
    z-index: -1;
  }
}
